* {
  margin: auto;
  padding: auto;
}

body {
  background-color: #ede7f6 
}

.app-header {
  height: 60px;
  display: flex;
}

.app-header span {
  font-size: 2.2em;
}

.todolist-container {
  display: flex;
}

.completed-todo {
  text-decoration: line-through;
}

#new-todo {
  padding-left: 10px;
}

.collection-item {
  padding-bottom: 10px;
  height: 50px;
}

.black-text {
  position: relative;
  top: 5px;
}


